.mainSection{
  background-color: #f5f8fa;
  padding-top: 1em;
}
.chat-section{
  bottom: 0;
  position: fixed;
  margin: 0 auto;
  background-color: #f5f8fa;
  width: 100%;
  padding-top: 1em;
}

#buttons{
  padding-top: 20px;
}

.todo{
  border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -o-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  color:#fff;
  background-color:#ccc;
}

.users{
  background-color:#fff;
  border-radius:3px 3px 3px 3px;
  padding:1em;
  border: 1px solid #d3e0e9;
}

.chat-user.logged{
  color: black;
}
.chat-user.not-logged{
  color: lightgrey
}

.snapshotsColumn img{
  width: auto;
  height: 100%;
  margin-bottom:10px;
}

.box{
  height: 182px;
  overflow: hidden;
  margin-bottom:10px;
}

.box-username{
  position: relative;
  z-index: 2;
  color: white;
  width: 100%;
  font-weight: bold;
  background-color: rgba(24, 23, 23, 0.55);
}

.availability-box{
  position: relative;
  left: 7em;
  width: 10px;
  height: 10px;
}

.availability-box.available{
  background-color: lightgreen;
}

.availability-box.unavailable{
  background-color: red;
}

/*Overlay chat*/

.container.notShownOverlay.shownOverlay{
  width: 100%;
  padding:2em;
  height: 100%;
  background-color: rgba(49, 55, 65, 0.85);
}

.notShownOverlay{
  position: fixed;
  top: -200%;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  -webkit-transition: top .8s ease-in;
  -moz-transition: top .8s ease-in;
  -o-transition: top .8s ease-in;
  transition: top .8s ease-in;
  background-color: rgba(49, 55, 65, 0.85);

}
.shownOverlay{
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 55, 65, 0.85);
}


.panel-body{
  background-color: #f5f8fa;
}

.panel .panel-body .form-control{
  bottom:0;
  position: relative;
  margin-top:1em;
}

.messagesList{
    overflow-y:scroll;
    max-height: 61rem;
    background-color: #fff;
    padding:1em;
    border:1px solid #d3e0e9;
}

.buttonClose{
  text-align: right;
}
