body, html {
  height: 100%;
}
body{
  background-color:  #f5f8fa !important;
  font-family: "Roboto",sans-serif;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .form {
  padding: 40px;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module button {
  height: 34px;
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
  margin-top:25px
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: underline;
}
.form-module .cta a:hover {
  color: #666666;
}

.auth-page {
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  color: #666666;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.control-label{
  display: none
}

.passwordField{
  display: block !important;
}

div[role="tooltip"]{
  max-width: 350px;
}

#home{
    background-color: #f5f8fa;
}

header{
  border-bottom:1px solid #d3e0e9;
  background-color:#fff !important;
}

.page-header {
    margin: 0 !important;
    border-bottom: none !important;
}

footer{
    text-align: center;
    font-size: 11px;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    color: #636b6f;
    font-weight: 200;
}
